@import "tailwindcss";

@theme inline {
  --color-orange-500: #f86029eb;
  --color-orange-550: #ff6b35;
  --color-orange-600: #f7931e;
  --color-gray-100: #a0a0a0;
  --color-gray-900: #0a0a0a;
  --breakpoint-sm: 375px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1280px;
}

body {
  font-family: "Work Sans", sans-serif;
  background: #0a0a0a;
  color: #ffffff;
  overflow-x: hidden;
  line-height: 1.6;
}
